header {
  height: 100px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}
header .wrap {
  
  align-items: center;
  width: 1600px;
  height: 100%;
}
header .wrap h1 {
 
}
header .wrap h1 a {
  
  font-size: 0;
  background-image: url(../img/logo.png);
  width: 180px;
  height: 50px;
  display: block;
  background-size: contain;
}
header .wrap ul.gnb {
 
}
header .wrap ul.gnb li {
  
}
header .wrap ul.gnb li a {

  display: flex;
  height: 100%;
  padding: 0px 40px;
}